*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
*~
\#*\#
.\#*
soziologie.pdf
versuch.pdf
arbeit.tex
fragen.tex
heute.tex
identity.tex
innovation.tex
institutionen.tex
kapitalismus.tex
konzept.tex
methoden.tex
praktik.tex
staaten.tex
uno.tex
utopien.tex
welt.tex
wirtschaftslehre.tex
